<p id="notice"><%= notice %></p>


<section id="products">
  <div class="cardapio">
    <h2> Nosso Cardápio </h2>
  </div>
</section>

<section id="background-cardapio">
</section>

<section id="produtos-cardapio">
  <div class="container">
      <% @portfolios.each do |portfolio| %>
        <div class="product">
          <h2><a href="#"><%= portfolio.name%></a></h2>
          <h3><%= portfolio.description %></h3>
          <h3> R$ 45,00 </h3>
        </div>
      <% end %>
  </div>
</section>

<% if current_user %>
  <%= link_to 'New Portfolio', new_portfolio_path %>
<% end %>


<section id="pizzas-doces">
  <div class="cardapio">
    <h2>Pizzas Doces</h2>
  </div>
  <div id="background-pizza-doce-fundo">
  </div>
  <div class="container">
    <div class="products">
      <div class="product">
        <h2><a href="#">Pizza de Chocolate</a></h2>
        <h3>GRANULADO</h3>
        <h3> R$ 45,00 </h3>
      </div>
      <div class="product">
        <h2><a href="#">Pizza de Romeu e Julieta</a></h2>
        <h3>GOIABADA, QUEIJO</h3>
        <h3> R$ 45,00 </h3>
      </div>
      <div class="product">
        <h2><a href="#">Pizza de Banana</a></h2>
        <h3>CANELA</h3>
        <h3> R$ 45,00 </h3>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <%= image_tag("whatsapp.png", alt: "whatsapp logo", class:"logo-whatsapp")%>
    <h2>Contate-nos<br> (21)99343-2299</h2>
    <a href="#"><%= image_tag("facebook.png", alt: "facebook logo", class:"logo-facebook")%></a>
  </div>
</footer>